@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

:root {
  /* ===== BASE COLORS ===== */

  --grey-500: #626c7f;
  --grey-50: #f4f6fa;

  --blue-950: #2d3949;
  --blue-900: #313e51;
  --blue-850: #3b4d66;
  --blue-500: #306aff;
  --blue-300: #abc1e1;
  --blue-100: #edf1f9;
  --blue-50: #ebf0ff;

  --green-500: #2fd887;
  --green-100: #e0fdef;

  --purple-600: #a729f5;
  --purple-100: #f6e7ff;

  --orange-400: #ff7e35;
  --orange-50: #fff5ed;

  --red-500: #ee5454;

  /* ===== BASE SPACING ===== */

  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1600: 128px;
  --spacing-1800: 144px;
  --spacing-2300: 184px;
}

/* ===== RESET ===== */

html {
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p,
label,
blockquote {
  margin-block-end: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

button {
  padding: 0;
  background: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

input {
  appearance: none;
  -webkit-appearance: none;
}

/* ===== BASE STYLES / MOBILE ===== */

body {
  background-color: var(--grey-50);
  color: var(--blue-900);
  background-image: url("./assets/images/pattern-background-mobile-light.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.app-container {
  max-width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: var(--spacing-300);
}

.app-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.current-subject-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-200);
  font-size: 18px;
  font-weight: 500;
}

.darkmode-switch-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-100);
  margin-left: auto;
}

.dm-switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

.dm-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--purple-600);
  border-radius: 34px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.dm-slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

input[type="checkbox"]:checked + .dm-slider {
  background-color: var(--purple-600);
}

input[type="checkbox"]:focus + .dm-slider {
  box-shadow: 0 0 1px var(--purple-600);
}

input[type="checkbox"]:checked + .dm-slider:before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.menu-container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-size: 40px;
  font-weight: lighter;
}

.h1-segment {
  font-weight: 500;
}

.italic {
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: var(--spacing-300);
}

.subject-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-200);
}

.subject-btn {
  min-height: 70px;
  width: 100%;
  background-color: white;
  border: 3px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-200);
  border-radius: 12px;
  padding: var(--spacing-200);
  font-weight: 500;
  font-size: 18px;
}

.subject-btn:hover {
  border: 3px solid var(--purple-600);
}

.subject-icon {
  width: 40px;
  border-radius: 8px;
  padding: var(--spacing-100);
}

.html-icon {
  background-color: var(--orange-50);
}

.css-icon {
  background-color: var(--green-100);
}

.js-icon {
  background-color: var(--blue-50);
}

.a11y-icon {
  background-color: var(--purple-100);
}

.btn-text {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 500;
}

.questions-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
}

.question-text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: var(--spacing-100);
}

.progress-wrapper {
  width: 100%;
  height: var(--spacing-200);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding: 5px;
  border-radius: 999px;
  margin-bottom: var(--spacing-400);
}

.progress-bar {
  width: 40%;
  height: var(--spacing-100);
  background-color: var(--purple-600);
  border-radius: 999px;
}

.answer-options-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

input[type="radio"] {
  cursor: pointer;
}

.answer-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: var(--spacing-200);
  width: 100%;
  background-color: white;
  border: 3px solid white;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
}

.option-letter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--grey-500);
  transition: 0.2s;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--grey-50);
}

.option-text {
  font-size: 18px;
  font-weight: 500;
}

.answer-option:hover {
  border: 3px solid var(--purple-600);
}

.answer-option:has(input[type="radio"]:checked) {
  border: 3px solid var(--purple-600);
}

.answer-option:has(input[type="radio"]:checked) .option-letter {
  background-color: var(--purple-600);
  color: white;
}

.answer-option:has(input[type="radio"]:checked).correct {
  border: 3px solid var(--green-500);
}

.answer-option:has(input[type="radio"]:checked).correct .option-letter {
  background-color: var(--green-500);
  color: white;
}

.answer-option:has(input[type="radio"]:checked).incorrect {
  border: 3px solid var(--red-500);
}

.answer-option:has(input[type="radio"]:checked).incorrect .option-letter {
  background-color: var(--red-500);
  color: white;
}

.result-icon {
  margin-left: auto;
}

.main-btn,
.again-btn {
  width: 100%;
  height: 56px;
  background-color: var(--purple-600);
  color: white;
  border-radius: 12px;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 500;
}

.error-wrapper {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--red-500);
  font-size: 18px;
  font-weight: 500;
  gap: var(--spacing-100);
}

.completed-container {
  display: flex;
  flex-direction: column;
}

.completed {
  font-size: 40px;
  font-weight: 200;
  margin: 0;
}

.you-scored {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: var(--spacing-500);
}

.score-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200);
  padding: var(--spacing-400);
  background-color: white;
  font-size: 18px;
  border-radius: 12px;
  margin-bottom: var(--spacing-200);
}

.final-score {
  font-size: 88px;
  font-weight: 500;
}

.out-of {
  font-weight: 500;
  color: var(--grey-500);
}

/* ===== TABLET ===== */

/* ===== DESKTOP ===== */

/* ===== DYNAMIC ===== */

.hidden {
  display: none;
}
